* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
  padding-top: 100px;
  width: 100%;
}

li {
  border-bottom: 1px solid brown;
  list-style: none;
}

h2 {
  border-bottom: 1px solid brown;
}

button {
  background: transparent;
  border: none;
}

.body-wrapper {
  background-color: rgb(255, 255, 149);
  border-radius: 10px;
  color: black;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
  margin: auto;
  padding: 20px;
  width: 30%;
}

.input-wrapper {
  background: transparent;
  text-align: center;
  width: 100%;
}

.input-wrapper input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 18px;
  outline: none;
  padding: 10px 20px 0 0;
  width: 100%;
}

.input-wrapper-add-btn-wrapper,
.input-wrapper-edit-btn-wrapper {
  align-items: end;
  display: flex;
  gap: 20px;
}

.input-wrapper-edit-btn-wrapper {
  display: none;
}

.item {
  align-items: center;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: inline-flex;
  gap: 10px;
}

#todo-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#todoInput {
  background-color: rgba(92, 154, 199, 0.256);
}

.task {
  display: flex;
  justify-content: space-between;
}

.action-btn {
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn,
.update-btn {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  height: 2em;
  justify-content: center;
  width: 2em;
}

.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.303);
}

.delete-btn {
  color: red;
}

.edit-btn:hover {
  background-color: rgba(63, 159, 203, 0.303);
}

#edit-icon {
  color: rgb(63, 159, 203);
  font-size: 22px;
}

.update-btn {
  background-color: rgb(51, 107, 51);
  color: white;
}

.update-btn:active {
  background-color: rgb(139, 183, 139);
}
